<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TWENDE</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/for-drivers">For Drivers</a></li>
            <li><a href="http://localhost:4200/for-passengers">For Passengers</a></li>
        </ul>
    </div>
</nav>
    <div id="footer">
    <div class="newsletter-subscription">
        <label for="newsletter">Subscribe to our Newsletter</label>
        <br>
        {{input value=newsletter id="newsletter"}}
        <br>
        <button {{action 'subscribe'}}>Subscribe</button>
    </div>
    <div>
        <h3>Contact us:</h3>
        <p><span class="glyphicon glyphicon-earphone"></span> <strong>CALL</strong> : +254 721 467 931</p>
        <p><span class="glyphicon glyphicon-envelope"></span> <strong>EMAIL</strong> : twende@gmail.com</p>
    </div>
    <div class="foot">
         <p>TWENDE 2017</p>
    </div>
</div>